/* colour scheme
violet blue crayola - 8787D7
magnolia - F0F0FA
silver - c9c9c9
quick silver - a3a3a3
onyx - 424242
*/

.header {
    padding-top: 10px;
    color: #424242;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 58px;
}

table {
    border: 2px solid #424242;
}

td, th{
    padding: 5px;
} 

canvas {
    border: 2px solid #424242;
    background-color: lightgrey;
    width: 100%;
    height: auto;
}

table {
    margin: 0 auto;
}

h1 {
    text-decoration: underline;
}

h1, table{
    text-align: center;
}